# Node.js
*node_modules/
/node_modules/
node_modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Build and dependencies
dist/
build/
.DS_Store
*.log
*.lock

# Public/Static Files
public/assets_optimized/

# Editor-specific files
.vscode/
.idea/
*.sublime-workspace

# Environment Files
.env
.env.local
.env.*.local

# Other
*.swp
*.tmp
*.bak
*.old

# Typescript
*.tsbuildinfo
